<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/control.css') }}">
<head>
    <meta http-equiv="refresh" content="1" />
</head>
<body>
    <div class="player_score">
    {% for i in range(player_list|length) %}
        <div class="player_{{ i }}">
        {% if i in index_of_max %}
            {% if player_list[i]["pick"] == "" %}
                PlayerVotes: <a style="color: darkgreen">{{ votes[i] }} (+1)</a> - <a style="color: darkorange">ChatVotes: {{ player_list[i]["votes"]  }}</a> <a style="float: right {% if i in in_danger %}; color: darkred {% endif %}">{{ player_list[i]["DisplayName"] }}</a>
            {% else %}
                PlayerVotes: <a style="color: darkgreen">{{ votes[i] }} (+1)</a> - <a style="color: darkorange">ChatVotes: {{ player_list[i]["votes"]  }}</a> <a style="float: right {% if i in in_danger %}; color: darkred {% endif %}"> Pick: {{ player_list[player_list[i]["pick"] | int]["DisplayName"] }} | {{ player_list[i]["DisplayName"] }}</a>
            {% endif %}
        {% else %}
            {% if player_list[i]["pick"] == "" %}
                PlayerVotes: <a style="color: darkgreen">{{ votes[i] }}</a> - ChatVotes: {{ player_list[i]["votes"]  }} <a style="float: right {% if i in in_danger %}; color: darkred {% endif %}">{{ player_list[i]["DisplayName"] }}</a>
            {% else %}
                PlayerVotes: <a style="color: darkgreen">{{ votes[i] }}</a> - ChatVotes: {{ player_list[i]["votes"]  }} <a style="float: right {% if i in in_danger %}; color: darkred {% endif %}"> Pick: {{ player_list[player_list[i]["pick"] | int]["DisplayName"] }} | {{ player_list[i]["DisplayName"] }}</a>
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
    </div>
</body>

